@model IEnumerable<LibraryDirectory.Models.CustomerModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div style="margin: 0 auto"> 
        <h1 style="margin: 0 auto; text-align: center;">Just SQL and Customer Model test</h1>
        <table style="margin: 0 auto;">
            <tr><td>Id</td><td>Frist Name</td><td>Last Name</td><td>Phone</td><td>Mail</td><td>Password</td><td>Address</td></tr>
            @foreach (var row in Model)
            {
                <tr><td>@row.Id</td><td>@row.FristName</td><td>@row.LastName</td><td>@row.Phone</td><td>@row.Mail</td><td>@row.Password</td><td>@row.Address</td></tr>
            }
        </table>
    </div>
</body>
</html>
